body {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  background: rgba(255, 255, 255, 1);
}

.container {
  margin: 206px auto 0;
  width: 1150px;
  color: #fff;
}

p,
button {
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.03em;
}

.counter {
  margin-bottom: 36px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

button {
  display: block;
  margin: 0 auto;
  width: 500px;
  height: 100px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}

.add__value {
  margin-bottom: 36px;
  background: #4191ff;
}

.add__value:hover {
  background: #fff;
  color: #4191ff;
}

.reset {
  background: #d45366;
}

.reset:hover {
  background: #fff;
  color: #d45366;
}
